body {
    background: #111;
    color: white;
}
  
.cinema {
    padding-top: 60px;
    width: 600px;
    margin: auto;
}

table {
    border-spacing: 10px;
}

.cell {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    /* border: 1px solid gray; */
}
.seat {
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
    cursor: pointer;
}

.selected {
    background: linear-gradient(to top,  black, orange);
}
.booked {
    background: linear-gradient(to top,  black,  red);
}
.seat.booked:hover {
    background: linear-gradient(to top,  black, gray);
    cursor: not-allowed;
}

.popup {
    background-color: orange;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
}


.popup .btn-close {
    border: 0;
    float:right;
    cursor: pointer;
    margin: 10px;
    border-radius: 50%;
}

.popup .btn-close:hover {
    background-color: #761818;
    color: white;
    transition: .5s;
}

